<div>
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/cine']">Cine</a></li>
        <li><a [routerLink]="['/musica']">Musica</a></li>
        <li><a [routerLink]="['/television']">Television</a></li>
        <li><a [routerLink]="['/numerodoble']">Numero doble</a></li>
        <li><a [routerLink]="['/productos']">Productos</a></li>
        <li><a [routerLink]="['/concesionario']">Concesionario</a></li>
        <li><a [routerLink]="['/libreria']">Libreria</a></li>
    </ul>
</div>